@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #fdfdfd;
    color: #000000;
    overflow-y: scroll; /* Enables vertical scrolling */
}

h1 {
    text-align: center;
    color: #473144;
    align-content: center;
    margin: 2rem;
}

a {
    text-decoration: none;
    color: #3344dd;
}

a:hover {
    text-decoration: underline;
}

/* Skip to Content Link */
.skiptocontent a {
    position: absolute;
    top: -40px;
    left: 0;
    padding: 0.5rem;
    background-color: #AF1B3F;
    color: #fff;
    text-align: center;
    z-index: 1000;
}

.skiptocontent a:focus {
    top: 0;
}

/* Header and Navigation */
header {
    background-color: #fdfdfd;
}

nav {
    padding: 1rem;
    padding-right:  4rem;
    border-bottom: 2px solid #EFC69B;
    border-top:    2px solid #EFC69B;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    font-weight: bold;
    font-size: 1.2rem;
}

/* Main Content Layout */
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Book Review Section */
.book-review {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.book-details {
    padding: 2rem;
    text-align: right;
    color: #473144;
    border-right: 1px solid #EFC69B;
}

.date {
    font-size: 1.2rem;
}

.book-content {
    justify-items: center;
}

.book-content img {
    max-width: 100%;
    height: auto;
    border: 1px solid #EFC69B;
    border-radius: 5px;
}

.book-content h2 {
    justify-self: left;
    color: #AF1B3F;
    margin-top: 0;
}

/* Filters Sidebar */
#filter {
    border: 1px solid #EFC69B;
    padding: 1rem;
    border-radius: 5px;
}

.filters h3 {
    margin-top: 0;
}



/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #473144;
    color: #EFC69B;
    margin-top: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    .book-review {
        grid-template-columns: 1fr;
    }
}
